body{

    background-color: gray;
    
}

.main-div{

    width: 30vw;
    margin: 0 auto;
    background-color: white;
    border: none;
    border-radius: 2vw;
    padding: 2em;
    
}

.grid-2-col{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li{
    padding: 0px;
    
}
ul{
    list-style-type: none;
    padding: 0px;
}

._margin-1em{
    margin: 0.5em 0 0.5em 0;
}

.inputField{
    border: 1px solid black;
    border-radius: 1em;
    background-color: aquamarine;
    color:black;
    font-size: 1.5em;
    width: 100%;
}


.namefield{

    font-size: large;


}

.button-form{

    width: 100%;
    margin-top: 1em;
    background-color: rgba(4, 25, 94, 0.849);
    color: rgb(255, 255, 255);
    border-radius: 2vw;
    border: none;
    cursor: pointer;
    font-size: medium;
    padding: 1em;
}